/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.works, .books, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.works .works-content,
.books .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    color: black;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color:rgb(139, 139, 214);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    background: rgb(139, 139, 214);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(139, 139, 214);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(179, 179, 229);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: lightblue;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(139, 139, 214);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* works section styling */
.works .title::after{
    content: "all my articles";
    
}
.works .works-content .left{
    width: 45%;
}
.works .works-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.works .works-content .right{
    width: 55%;
}
.works .works-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.works .works-content .right .text span{
    color: rgb(139, 139, 214);
}
.works .works-content .right p{
    text-align: justify;
}
.works .works-content .right a{
    display: inline-block;
    background: rgb(139, 139, 214);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(139, 139, 214);
    transition: all 0.3s ease;
}
.works .works-content .right a:hover{
    color: rgb(139, 139, 214);
    background: none;
}





.card_box {
	border-radius: 10px;
	background: rgb(139, 139, 214);
	padding: 30px;
	text-align: center;
	overflow: hidden;
	transition: .3s;
	position: relative;
	margin-top: 45px;
}



.img_box {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}

.text_box h4 {
	font-family: 'Barlow', sans-serif;
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	margin: 30px 0 5px 0;
}

.text_box p {
	font-weight: 600;
	color: #000000;
	font-size: 15px;
}

.link li {
	display: inline-block;
}

.link li a {
	width: 50px;
	height: 35px;
	font-family: 'Barlow', sans-serif;
	background: lightblue;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 14px;
	margin: 25px 5px 0 5px;
	color: #181616;
	transition: .3s;
    border-radius: 20%;
}

.link li a:hover {
	background: rgb(100, 100, 214);
	color: white;
    
}

.card_carousel .owl-nav {
    position: absolute;
    top: -8%;
    right: 0;
}

.card_carousel .owl-prev, .card_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin: 0 5px;
	font-size: 18px;
}


hr{
    size: 10px;
}

/* books section styling */
.books, .teams{
    color:#fff;
    /* background: #111; */
    /* background: #292828; */
}

.books .title::after,
.teams .title::after{
    /* background: #292828; */
    content: "what i provide";
}
.books .serv-content .card{
    width: calc(33% - 20px);
    background: rgb(139, 139, 214);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.books .serv-content .card .box{
    transition: all 0.3s ease;
}
.books .serv-content .card:hover .box{
    transform: scale(1.05);
}
.books .serv-content .card i{
    font-size: 50px;
    color: #fff;
    transition: color 0.3s ease;
}

.books .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.books .box img{
    width: 75%;
}
.books .serv-content .imagebox{
    width: calc(33% - 20px);
    opacity: 100%;
    background: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}
footer span a{
    color: rgb(139, 139, 214);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.links{
    display: flex;
    margin-left: 40%;
}

.links ul li {
    display: inline-block;
}

.links ul li a {
    width: 40px;
    height: 40px;
    font-family: 'Barlow', sans-serif;
    background: rgb(139, 139, 214);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 25px;
    margin: 20%;
    color: #1f0a0a;
    transition: .3s;
    border-radius: 50%;
}

.links ul li a:hover {
    color: rgb(206, 205, 205);
    border-radius: 50%;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .books .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .books .serv-content .card{
        width: 100%;
    }
    .links{
        margin-left: 30%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
@media (max-width: 500px) {
    .links {
        display: flex;
        margin-left: 25%;
    }    
}
